.training
{
    width:95%;
}
.section
{
    width:55%;
    margin-left:10%;
    float:left;
    padding:2%;
    font-size: 1.7rem;
}
ul
{
    list-style: disc;
}
.heading
{
    padding: 3%;
    width: 100%;
    background: grey;
    color: white;
}
.heading h1
{
    margin-top: 4%;
    font-family: 'Anton', sans-serif;
}
h3
{
    font-family: 'Anton', sans-serif;
}
.links
{
    margin-top:1%;
    margin-right:2%;
    float:right;
    width:25%;
}
.footer 
{
    clear: both;
    width: 100%;
    padding: 1%;
    background: black;
    box-shadow: 5px 0 5px white;
}
.footcontent
{
    width: 80%;
    margin: auto;
    color: white;
    font-family: Calibri;
    font-size: 2rem; 
    font-weight: bold;
}